@import "tailwindcss";

html,
body {
	min-width: fit-content;
}

.cm-editor {
	font-size: 14px;
}

.cm-editor .cm-content {
	font-family:
		ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
		monospace;
}
