@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
	padding-block: 2rem;
	background-color: var(--color-gray-50);

	&.dark {
		background-color: var(--color-gray-900);
	}
}

.cm-editor {
	font-size: 14px;
}

.cm-editor .cm-content {
	font-family:
		ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
		monospace;
}
